@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <div class="divTarjeta">
        <img src="" alt="img">
        <h4>dmwkaondkjwoandjoan djikwnajdonwjaodwadwad nbjwkalbdjkkkkkkkkkkkkkkkkkañabdjwikanbdjwkañbdjiwañbdujiwabdjwikañbdwhijkañ-h</h4>
        <div class="divBoton"><a href='@Url.Action("VerDetallePartido")' class="aBoton">Ver Partido</a></div>
    </div>
    <div class="divTarjeta">
        <img src="" alt="img">
        <h4>dmwkaondkjwoandjoan djikwnajdonwjaodwadwad nbjwkalbdjkkkkkkkkkkkkkkkkkañabdjwikanbdjwkañbdjiwañbdujiwabdjwikañbdwhijkañ-h</h4>
        <div class="divBoton"><a href='@Url.Action("VerDetallePartido")' class="aBoton">Ver Partido</a></div>
    </div>
    <div class="divTarjeta">
        <img src="" alt="img">
        <h4>dmwkaondkjwoandjoan djikwnajdonwjaodwadwad nbjwkalbdjkkkkkkkkkkkkkkkkkañabdjwikanbdjwkañbdjiwañbdujiwabdjwikañbdwhijkañ-ho</h4>
        <div class="divBoton"><a href='@Url.Action("VerDetallePartido")' class="aBoton">Ver Partido</a></div>
    </div>
</body>
</html>